.clients-slider {
  overflow: hidden;
  position: relative;
  text-align: inherit;
  --swiper-theme-color: var(--bs-body-color);
  --swiper-pagination-color: currentColor;
  --swiper-pagination-bullet-inactive-color: currentColor;
  --swiper-pagination-bullet-active-color: currentColor;
  --swiper-pagination-bullet-size: 10px;
  .swiper-wrapper {
    align-items: center;
    .clients-slide {
      text-align: center;
      .logo-img {
        filter: grayscale(1);
        @include transition();
        max-width: 100%;
        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
  .swiper-pagination {
    position: relative;
    margin: rem(30) 0 0;
    text-align: inherit;
  }
}
