.full-width-img-sec {
  position: relative;
  overflow: hidden;
  .main-img {
    position: relative;
    z-index: 2;
    width: 100%;
  }
  .floating-heading {
    font-size: rem(40);
    line-height: 0.8;
    margin-bottom: 0;
    white-space: nowrap;
    position: absolute;
    left: 100%;
    top: 0;
    @include media-breakpoint-up(sm) {
      font-size: rem(80);
    }
    @include media-breakpoint-up(md) {
      font-size: rem(150);
    }
    @include media-breakpoint-up(lg) {
      font-size: rem(200);
    }
    @include media-breakpoint-up(xl) {
      font-size: rem(240);
    }
  }
}

@keyframes text-marquee {
  from {
    @include transform(translate(120%, 0%));
  }

  to {
    @include transform(translate(-120%, 0%));
  }
}
