.carousel-button-next,
.carousel-button-prev {
  position: static;
  border: 0;
  background: transparent;
  &:before {
    @extend .icon-tknofc;
  }
}

.carousel-button-next {
  position: static;
  padding: 0;
  &:before {
    content: "\e90d";
  }
}
.carousel-button-prev {
  right: auto;
  left: 0;
  &:before {
    content: "\e901";
  }
}

.gallery-slider {
  position: relative;
  &.f-carousel {
    padding-bottom: rem(48);
    margin-bottom: rem(16);
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
  .gallery-slide {
    max-width: rem(300);
    display: flex;
    align-items: flex-end;
    max-height: 60vh;
    margin-inline-end: rem(40)
  }

  .carousel-button-prev {
    display: none;
  }
  .carousel-button-next {
    margin: 0;
    font-size: rem(14);
  }

  .f-carousel__nav {
    position: absolute;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    z-index: 1;
    @include media-breakpoint-up(md) {
      left: 50%;
      right: auto;
    }
  }

  .f-carousel__dots {
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    justify-content: flex-start;
    --f-carousel-dot-width: 10px;
    --f-carousel-dot-height: 10px;
    --f-carousel-dots-width: 18px;
    --f-carousel-dots-height: 16px;
    --f-carousel-dot-color: var(--bs-body-color);
  }
}

