.main-header {
  background: var(--bs-body-bg);
  @include transition();
  &.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    //padding-bottom: rem(90);
  }

  &.header-transparent {
    background: transparent;
  }

  &.fixed-header.header-transparent.sticky {
    background: var(--bs-body-bg);
    color: var(--bs-body-color);
    box-shadow: 0 rem(4) rem(8) rgba(0, 0, 0, 0.1);
  }

  .navbar {
    font-size: 20px;
    .navbar-brand {
      margin-inline-end: rem(32);
      @include media-breakpoint-down(lg) {
        margin: 0;
        max-width: 50%;
      }
    }
    .navbar-toggler {
      --bs-navbar-color: var(--bs-body-color);
      --bs-navbar-toggler-border-color: var(--bs-body-color);
      --bs-navbar-toggler-padding-x: .25rem;
      --bs-navbar-toggler-padding-y: .25rem;
    }
  }
  .offcanvas {
    @include media-breakpoint-down(lg) {
      display: block;
      overflow: auto;
    }
    .offcanvas-body {
      justify-content: flex-end;
      @include media-breakpoint-down(lg) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .navbar-nav {
    gap: var(--bs-navbar-nav-link-padding-x );
    margin-inline-start: auto;
    align-items: center;
    @include media-breakpoint-down(lg) {
      gap: 0;
      align-items: flex-start;
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .nav-item {
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }
    .nav-link {
      position: relative;
      padding-left: 0;
      padding-right: 0;
      @include media-breakpoint-down(lg) {
        display: block;
        padding-left: rem(16);
        padding-right: rem(16);
      }

      &.active {
        @include media-breakpoint-down(lg) {
          background: var(--bs-primary);
          color: var(--bs-body-color);
        }
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 5px;
          background: var(--bs-primary);
          position: absolute;
          bottom: 0;
          left: 0;
          @include media-breakpoint-down(lg) {
            display: none;
          }
        }
      }

      &:focus-visible {
        @include outline(var(--bs-white));
      }

      &.dropdown-toggle {
        padding-right: rem(32);
        &:after {
          position: absolute;
          right: rem(8);
          top: 50%;
          transform: translateY(-50%);
          display: inline-block;
        }
      }
    }
  }
  .menu-ctas {
    display: flex;
    align-items: center;
    gap: var(--bs-navbar-nav-link-padding-x );
    margin-inline-start: calc( var(--bs-navbar-nav-link-padding-x ));
    @include media-breakpoint-down(lg) {
      width: 50%;
      gap: rem(16);
      margin-inline-start: 0;
      margin-inline-end: 0;
      justify-content: flex-end;
    }
    .menu-cta-link {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      padding: var(--bs-navbar-nav-link-padding-y ) 0;
      text-decoration: none;
      color: var(--bs-nav-link-color);
      position: relative;
      &:focus-visible {
        @include outline(var(--bs-white));
      }
      .text-icon-label {
        white-space: nowrap;
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
      .cart-item-count {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translate(50%, -50%);
        background: var(--bs-primary);
        color: var(--bs-white);
        font-size: rem(16);
        @include borderRadius(50%);
      }
      .icon {
        vertical-align: middle;
        margin-inline-end: rem(8);
      }
    }
  }
  .nav-link {
    color: var(--bs-nav-link-color);
    text-decoration: none;
  }
}
