@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fsaosb1');
  src:  url('../fonts/icomoon.eot?fsaosb1#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?fsaosb1') format('truetype'),
  url('../fonts/icomoon.woff?fsaosb1') format('woff'),
  url('../fonts/icomoon.svg?fsaosb1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}



.icon-tknofc,
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  @include icomoon();
}

.icon-x:before {
  content: "\e90e";
}
.icon-shopping-cart:before {
  content: "\e90c";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-desktop:before {
  content: "\e904";
}
.icon-envelop-send:before {
  content: "\e905";
}
.icon-envelop:before {
  content: "\e906";
}
.icon-mobile-apps:before {
  content: "\e907";
}
.icon-nft:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e909";
}
.icon-quotes:before {
  content: "\e90a";
}
.icon-software:before {
  content: "\e90b";
}
.icon-star-o:before {
  content: "\e9d9";
}
.icon-star:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-long-arrow-right:before {
  content: "\e90d";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-dropbox:before {
  content: "\eaae";
}
.icon-github:before {
  content: "\eab0";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-finder:before {
  content: "\eabf";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-soundcloud2:before {
  content: "\eac4";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
