.lead-section-with-shadow-text {
  position: relative;
  overflow: hidden;
  @include section-padding();
  .container {
    z-index: 1;
    position: relative;
  }
}

.xl-heading {
  font-size: rem(50);
  margin-bottom: rem(16);
  @include media-breakpoint-up(md) {
    font-size: rem(75);
    margin-bottom: rem(20);
  }
  @include media-breakpoint-up(lg) {
    font-size: rem(100);
    margin-bottom: rem(30);
  }
}

.xl-paragraph {
  font-size: rem(20);
  margin-bottom: rem(16);
  @include media-breakpoint-up(md) {
    font-size: rem(28);
    margin-bottom: rem(20);
  }
  @include media-breakpoint-up(lg) {
    font-size: rem(40);
    margin-bottom: rem(30);
  }
}

.vertical-design-heading {
  @extend .text-keyword;
  opacity: .1;
  font-size: 25vw;
  @include transform(rotate(-180deg) translate(-20%, 120%));
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  transform-origin: 50% 50%;
  animation: marquee 8s linear infinite;
  writing-mode: vertical-rl;
  -ms-writing-mode: bt-rl;
  -webkit-writing-mode: vertical-rl;
  white-space: nowrap;
  @include media-breakpoint-up(md) {
    font-size: 20vw;
  }
  @include media-breakpoint-up(lg) {
    font-size: 15vw;
  }
}

@keyframes marquee {
  from {
    @include transform(rotate(-180deg) translate(-20%, 120%));
  }

  to {
    @include transform(rotate(-180deg) translate(-20%, -120%));
  }
}
