@mixin transitions($speed: 0.5s, $property: all, $timing: ease-in-out) {
  -webkit-transition: $property $speed $timing;
  -moz-transition: $property $speed $timing;
  -o-transition: $property $speed $timing;
  transition: $property $speed $timing;
}

@mixin rotate($deg: 0deg) {
  -webkit-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin scale($scale) {
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
  transform: scale($scale);
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin boxShadow($colour, $length) {
  $value: ();
  @for $i from 1 through $length {
    $px: $i + px;
    $shadow: $px $px $colour;
    $value: append($value, $shadow, comma);
  }
  text-shadow: $value;
}


@mixin grayscale($value) {
  filter: grayscale($value);
  -webkit-filter: grayscale($value);
  -moz-filter: grayscale($value);
}
