.swiper-initialized {
  --swiper-padding-bottom: 0px;
  --swiper-pagination-top: auto;
  --swiper-pagination-bottom: 0px;
  --swiper-scrollbar-bg-color: rgba(var(--bs-body-color-rgb), .25);
  --swiper-scrollbar-drag-bg-color: linear-gradient(90deg, var(--bs-primary) 0%, var(--bs-secondary) 100%);
  &:not([data-pagination="false"]) {
    --swiper-padding-bottom: 2rem;
    padding-bottom: var(--swiper-padding-bottom, 2rem);
    .swiper-pagination {
      display: block;
    }
  }
  &:not([data-navigation="false"]) {
    .swiper-button-prev,
    .swiper-button-next {
      display: inline-flex;
    }
  }
}

.carousel-button-prev,
.carousel-button-next,
.swiper-button-prev,
.swiper-button-next {
  color: var(--bs-body-color);
  font-size: rem(14);
  display: flex;
  gap: rem(6);
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: var(--swiper-padding-bottom, 0px);
  @include media-breakpoint-up(lg) {
    font-size: rem(22);
  }
  &[disabled],
  &[aria-disabled="true"] {
    color: var(--bs-body-color);
    opacity: var(--bs-disabled);
    cursor: not-allowed;
  }

  &:after {
    display: none;
  }
}

.swiper-pagination {
  display: none;
  text-align: inherit;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination-bullet {
  --swiper-pagination-color: var(--bs-body-color);
  --swiper-pagination-bullet-inactive-color: var(--bs-body-color);
}

[dir="rtl"] {
  .swiper-button-next,
  .swiper-button-prev {
    transform: scaleX(-1);
  }
}

